
<!-- codigo, data, itens, sub_total, tipo_pagamento, desconto  -->
<div style="padding: 20px 29px;border: 1px solid #D2D2D2;border-radius: 11px;"><div class="adM"><br></div>
    <div style="text-align:center;border-bottom: 1px solid #DADADA;padding-bottom: 17px !important;">
        <img src="https://dl.dropboxusercontent.com/u/11469395/ArtesanalBaby/logo/logo-lojinha.png" width="95pt" class="CToWUd">
    </div>
    <p></p>
    <h2 style="color: #F78100;text-align: center;">Romaneio ArtesanalBaby ( codigo : {{=codigo}} )</h2>
    <p></p>
    <p>Recibo emitido em: {{=data}}</p>
    <div>
        {{=itens}}
        {{=cheques}}
        {{=desconto}}
    </div>
    <h4><b>SUB-TOTAL</b> = R$ {{=sub_total}}  |  <b>Tipo pag</b> : {{=tipo_pagamento}} </h4>
    <p style="border-bottom: 1px solid #DADADA;padding-bottom: 17px !important;">Nos visite: <a href="http://www.artesanalbaby.com.br" target="_blank">www.artesanalbaby.com.br</a></p>
    <p></p>
    <h3 style="color: #B1B1B1;text-align: center;">Muito Obrigado pela compra! Volte sempre.</h3>
    <div class="yj6qo"></div>
    <div class="adL">
        <p></p>
        <br>
    </div>
</div>
