
<!-- codigo, data, itens, sub_total, tipo_pagamento, desconto  -->
<div style="padding: 20px 29px;border: 1px solid #D2D2D2;border-radius: 11px;"><div class="adM"><br></div>
    <div style="text-align:center;border-bottom: 1px solid #DADADA;padding-bottom: 17px !important;">
        <img src="https://dl.dropboxusercontent.com/u/11469395/ArtesanalBaby/logo/logo-lojinha.png" width="95pt" class="CToWUd">
    </div>
    <p></p>
    <h2 style="color: #F78100;text-align: center;">Romaneio ArtesanalBaby ( codigo : {{=codigo}} )</h2>
    <p></p>

    <p>Recibo emitido em: {{=data}}</p>
        <!-- fim subtitulo -->
            <!-- body -->
            <div>
                <table style="width: 100%;">
                    <thead style="text-align: left;">
                        <tr style="background: #F1F1F1;">
                            <th style="padding: 5px 8px;">Código</th>
                            <th style="padding: 5px 8px;">Qtde</th>
                            <th style="padding: 5px 8px;">Produto</th>
                            <th style="padding: 5px 8px;">Valor Unid</th>
                            <th style="padding: 5px 8px;">Valor Total</th>
                        </tr>
                    </thead>
                    <tbody>
                    {{for row in itens:}}
                        <tr>
                            <td style="padding: 4px 8px; border-bottom: 1px solid #F1F1F1;">{{=row.codigoIten}}</td>
                            <td style="padding: 4px 8px; border-bottom: 1px solid #F1F1F1;">{{=row.quantidade}}</td>
                            <td style="padding: 4px 8px; border-bottom: 1px solid #F1F1F1;">{{=row.produto}}</td>
                            <td style="padding: 4px 8px; border-bottom: 1px solid #F1F1F1;">{{=double_real(row.valorUnidade).real()}}</td>
                            <td style="padding: 4px 8px; border-bottom: 1px solid #F1F1F1;">{{=double_real(row.valorTotal).real()}}</td>
                        </tr>
                     {{pass}}   
                    </tbody>
                </table>
                {{=desconto}}
            </div>
            <h4><b>SUB-TOTAL</b> = R$ {{=sub_total}}  |  <b>Tipo pag</b> : {{=tipo_pagamento}} </h4>
             {{if cheques != '':}}
                    <div>
                        <table style="width: 50%;">
                            <thead style="text-align: left;">
                                <tr style="background: #F1F1F1;">
                                    <td style="padding: 5px 8px;">Parc</th>
                                    <td style="padding: 5px 8px;">Data</th>
                                    <td style="padding: 5px 8px;">Valor</th>
                                </tr>
                            </thead>
                            <tbody>
                            <!-- parcelas, dataVencimento, valor -->
                            {{for row in cheques:}}                            
                                <tr>
                                    <td style="padding: 4px 8px; border-bottom: 1px solid #F1F1F1;">{{=row.parcela}}</td>
                                    <td style="padding: 4px 8px; border-bottom: 1px solid #F1F1F1;">{{=(row.dataVencimento).strftime('%d/%m/%Y')}}</td>
                                    <td style="padding: 4px 8px; border-bottom: 1px solid #F1F1F1;">{{=double_real(row.valor).real()}}</td>
                                </tr>
                             {{pass}}       
                            </tbody>
                        </table>
                    </div>
             {{pass}}   

            <!-- fim do body -->










    <p style="border-bottom: 1px solid #DADADA;padding-bottom: 17px !important;">Nos visite: <a href="http://www.artesanalbaby.com.br" target="_blank">www.artesanalbaby.com.br</a></p>
    <p></p>
    <h3 style="color: #B1B1B1;text-align: center;">Muito Obrigado pela compra! Volte sempre.</h3>
    <div class="yj6qo"></div>
    <div class="adL">
        <p></p>
        <br>
    </div>
</div>
