
<!-- codigo, data, itens, sub_total, tipo_pagamento, desconto  -->
<div style="padding: 20px 29px;border: 1px solid #D2D2D2;border-radius: 11px;"><div class="adM"><br></div>
    <div style="text-align:center;border-bottom: 1px solid #DADADA;padding-bottom: 17px !important;">
        <img src="https://dl.dropboxusercontent.com/u/11469395/ArtesanalBaby/logo/logo-lojinha.png" width="95pt" class="CToWUd">
    </div>
    <p></p>
    <h2 style="color: #F78100;text-align: center;">Romaneio ArtesanalBaby ( codigo :  )</h2>
    <p></p>
    <p>Recibo emitido em: </p>
    <div>
        <table class="table table-striped table-bordered hover pld no-footer">
            <thead>
                <tr>
                    <th>Parc</th>
                    <th>Data</th>
                    <th>Valor</th>
                </tr>
            </thead><tbody><tr><td>1</td><td>15/06/2016</td><td>R$ 26,17</td></tr><tr><td>2</td><td>15/07/2016</td><td>R$ 26,17</td></tr><tr><td>3</td><td>14/08/2016</td><td>R$ 26,17</td></tr></tbody></table>


    </div>
    <h4><b>SUB-TOTAL</b> = R$   |  <b>Tipo pag</b> :  </h4>
    <p style="border-bottom: 1px solid #DADADA;padding-bottom: 17px !important;">Nos visite: <a href="http://www.artesanalbaby.com.br" target="_blank">www.artesanalbaby.com.br</a></p>
    <p></p>
    <h3 style="color: #B1B1B1;text-align: center;">Muito Obrigado pela compra! Volte sempre.</h3>
    <div class="yj6qo"></div>
    <div class="adL">
        <p></p>
        <br>
    </div>
</div>
